* {
    border: none;
    font-size: 12px;
    font-family: "FiraCode Nerd Font Mono" ;
    min-height: 20px;
    color: #a6adc8;
}

window#waybar {
  background: transparent;
  margin: 5px;
 }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
  margin: 4px 4px 0px 0px;
  border: 1px solid #b4befe;
  background: #1e1e2e;
}

.modules-center {
  padding: 0 15px;
  border: 1px solid #b4befe;
  margin-top: 4px;
  border-radius: 2px;
  background: #1e1e2e;
}

.modules-left {
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
  border: 1px solid #b4befe;
  margin: 4px 0px 0px 4px;
  background: #1e1e2e;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}
#pulseaudio {
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}

#clock{
  color: #b4befe;
  font-weight: bold;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
